.field-body {
    display: flex;
}

.field {
    margin-right: 50px;
}

.input {
    width: 300px;
    height: 40px;
    background: #f3f3f3;
    border: 1px solid #f3f3f3;
}

.button {
    background-color: #d599f1;
    height: 40px;
    width: 80px;
    font-size: 15px;
    font-weight: 900;
    border-radius: 5px;
    // color: white;
    border: 1px solid #d599f1;
}