<form #formItem="ngForm" (ngSubmit)="onSubmit(formItem)">
    <div class="field is-horizontal">
        <div class="field-body">
            <div class="field">
                <p class="control">
                    <input type="number" required name="amount" style="width: 120px;" class="input" placeholder="Amount" (ngModel)="item.amount">
                </p>
            </div>
            <div class="field">
                <p class="control">
                    <input type="text" required name="description" class="input" placeholder="Description" (ngModel)="item.description">
                </p>
            </div>
            <div class="field">
                <button type="submit" class="button" [disabled]="!formItem.valid">Add</button>
            </div>
        </div>
    </div>
</form>
