.budget-items-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;

    .budget-items-container {
        display: flex;
        max-width: 680px;
        height: 100%;
        width: 100%;

        .income-column,
        .expenses-column {
            display: flex;
            flex-direction: column;
            flex-basis: 0;
            flex-grow: 1;

            h1 {
                font-size: 24px;
                font-weight: 900;
                text-transform: uppercase;
            }

            .budget-items {
                display: flex;
                flex-direction: column;
                margin-right: 20px;
            }
        }
        .income-column {
            margin-right: 35px;

            h1 {
                color: #098d56;
            }
        }

        .expenses-column {
            margin-right: 35px;

            h1 {
                color: firebrick;
            }
        }

    }
}