.root {
    display: flex;
    width: 100%;
    position: relative;

    &:hover {
        .x-icon-button {
            opacity: 1;
            transform: scale(1);
        }
    }

    .x-icon-button {
        position: absolute;
        right: -17px;
        top: -17px;
        height: 34px;
        width: 34px;
        background-image: url('../../../assets/delete_icon.svg');
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 50%;
        background-color: #211d29;

        transition: opacity 0.2s ease-out, transform 0.2s ease-out;
        transform: scale(0);
        opacity: 0;

        cursor: pointer;
        &:hover {
            transform: scale(1.2);
        }
    }

}

.budget-item {
    display: flex;
    width: 100%;
    background-color: #ececec;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;

    .description {
        display: flex;
        flex-grow: 1;
        font-size: 18px;
        margin-left: 5px;
        align-items: center;
    }

    .amount {
        padding: 5px;
        border-radius: 3px;
    }

    &:hover {
        background-color: #dedbe0;
    }
}

.expense {
    p {
        color: firebrick;
    }

    .amount {
        background-color: #e9b9b9;
    }
}

.income {
    p {
        color: #098d56;
    }

    .amount {
        background-color: #9bccb8;
    }
}