.top-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 68px;
    background: linear-gradient(75deg, rgb(214, 180, 247), rgb(173, 203, 231));

    h1 {
        text-transform: uppercase;
        font-size: 25px;
    }
}

.total-budget-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    background: #131320;

    .green {
        color: #098d56;
    }

    .red {
        color: firebrick
    }
}

.add-item-section {
    display: flex;
    justify-content: center;
    align-items: center;

    .add-item-container {
        width: 680px;
    }
}

hr {
    border: 2px solid #ebe8e8;
}