<div class="top-bar">
    <h1>Budget Calculator</h1>
</div>

<section class="total-budget-section">
    <h2 [ngClass]="{'green': totalBudget >= 0, 'red': totalBudget < 0}">{{ totalBudget }}</h2>
</section>

<section class="add-item-section">
    <div class="add-item-container">
        <app-add-item-form style="padding: 20px;" (formSubmit)="addItem($event)"></app-add-item-form>
    </div>
</section>
<hr>
<app-budget-item-list [budgetsItem]="budgetsItem"></app-budget-item-list>